@(path:Path)(implicit messages: Messages)

<ol class="breadcrumb">
  @path.subPaths.map { subPath =>
    @if(subPath == path) {
      <li class="active">
        @pathLabel(subPath)
      </li>
    } else {
      <li class="active">
        <a href="@routes.FileSystemCtrl.index(subPath)">
          @pathLabel(subPath)
        </a>
      </li>
    }
  }
</ol>

@pathLabel(path:Path) = {
  @{
    if(path.filename.nonEmpty) {
      path.filename
    } else if (path.parts.isEmpty){
      FileSystemCtrl.msg("home")
    } else {
      path.parts.last
    }
  }
}