@(path:Path, pager:Pager)(
implicit req: UserRequest[_], messages: Messages)

@import common._
@import helper._

@home = @{req.user.id.toString}

@layouts.base(FileSystemCtrl.msg("title")) {

  @ng._alert()

  <div class="row">
    @{_breadcrumb(path)}
  </div>

  <div ng-controller="FilesCtrl">
    @ng._msg_confirm_delete()

    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover table-ellipsis">
          <thead>
            <tr>
              <th class="col-xs-5">@FileSystemCtrl.msg("name")</th>
              <th class="col-xs-2 text-right">@FileSystemCtrl.msg("size")</th>
              <th class="col-xs-3 text-right hidden-xs hidden-sm">
                @FileSystemCtrl.msg("created_at")
              </th>
              <th class="col-xs-2 text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-cloak" ng-repeat="inode in INodeList.inodes | orderBy:['is_file','name']">
              <!-- Directory -->
              <td ng-if="inode.is_directory">
                <i class="fa fa-2x fa-folder fa-fw text-info"></i>
                <a ng-href="{{jsRoutes.controllers.FileSystemCtrl.index(path.append(inode.name)).url}}">
                  {{ inode.name }}
                </a>
              </td>
              <td ng-if="inode.is_directory">
              </td>
              <td ng-if="inode.is_directory" class="text-right hidden-xs hidden-sm">
                {{ inode.created_at | date:"yyyy-MM-dd hh:mma" }}
              </td>
              <td ng-if="inode.is_directory">
              </td>

              <!-- File -->
              <td ng-if="!inode.is_directory">
                <i class="fa fa-2x fa-file-o fa-fw"></i>
                <a ng-href="{{jsRoutes.controllers.FileSystemCtrl.show(path.set(inode.name)).url}}">
                  {{ inode.name }}
                </a>
              </td>
              <td ng-if="!inode.is_directory" class="text-right">
                {{ inode.size | filesize }}
              </td>
              <td ng-if="!inode.is_directory" class="text-right hidden-xs hidden-sm">
                {{ inode.created_at | date:"yyyy-MM-dd hh:mma" }}
              </td>
              <td ng-if="!inode.is_directory">
                <div class="btn-toolbar pull-right">
                  <div class="btn-group">
                    <a ng-href="{{jsRoutes.controllers.api_internal.FileSystemCtrl.download(inode.path).url}}">
                      <i class="fa fa-download fa-lg"></i>
                    </a>
                  </div>
                  <div class="btn-group">
                    <i class="fa fa-trash fa-lg text-danger" ng-click="confirmDelete(inode)"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      @ng._pager("GroupList.links")
    </div>

    <div class="row">
      <div flow-init="{target: '@api_internal.routes.FileSystemCtrl.create(path)'}"
           flow-files-submitted="$flow.upload()"
           flow-file-success="success($file, $message)"
           class="pull-right">

        <span class="btn btn-success" flow-btn>
          <i class="fa fa-upload"></i>
          <strong>@FileSystemCtrl.msg("upload.new.file")</strong>
        </span>
      </div>
    </div>

  </div>
}()(
  libs.webjars("js", "angular-resource"),
  libs.webjars("js", "ng-flow"),
  libs.assets("js", "utility"),
  libs.assets("js", "ui.parts"),
  libs.assets("js", "api.helper"),
  libs.assets("js", "api_internal/file_system"),
  libs.assets("js", "file_system/index"),
  jsRoutes,
  controller
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.FileSystemCtrl.index,
    routes.javascript.FileSystemCtrl.show,
    api_internal.routes.javascript.FileSystemCtrl.download,
    api_internal.routes.javascript.FileSystemCtrl.destroy
  )
}

@controller = {
  <script>
    views.files.index.run(['INodeList', function(INodeList) {
      INodeList.reload({
        page     : @pager.pageNum,
        pageSize : @pager.pageSize,
        nextPage : '@Html(routes.FileSystemCtrl.index(path,pager.next).toString)',
        prevPage : '@Html(routes.FileSystemCtrl.index(path,pager.prev).toString)',
        userId   : '@req.user.id',
        path     : @Html(Path.toJson(path))
      });
    }]);
  </script>
}