@(f: File)(implicit req: UserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@layouts.base(f.name){

  <div class="row">
    @{_breadcrumb(f.path)}
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>@f.size_pp</p>
    </div>
    @if(f.video.?) {
      <video src="@routes.FileSystemCtrl.stream(f.path)"
      type="@f.mimeType"
      class="col-xs-12"
      autobuffer autoloop loop controls>
      </video>
    }
    @if(f.audio.?) {
      <audio src="@routes.FileSystemCtrl.stream(f.path)"
      class="col-xs-12"
      autobuffer autoloop loop controls></audio>
    }
    @if(f.image.?) {
      <img src="@routes.FileSystemCtrl.stream(f.path)"
      class="col-xs-12 col-sm-8 col-sm-offset-2" alt="">
    }
  </div>

}()()
