@()(implicit request: UserRequest[_])

@layouts.base(MSG("com.profile")) {
  <div class="row">
    <div id="divCanvas" class="span12" >
      <canvas id="myCanvas"></canvas>
    </div>
  </div>
}()(js)

@js = {
  <script src="@routes.Assets.at("libs/kinetic/kinetic-v4.5.1.min.js")" type="text/javascript"></script>
  <script>
    window.requestAnimFrame = (function(callback) {
      return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
      function(callback) {
        window.setTimeout(callback, 1000 / 60);
      };
    })();

    function initBalls() {
      balls = [];

      var blue = '#3A5BCD';
      var red = '#EF2B36';
      var yellow = '#FFC636';
      var green = '#02A817';

      var w = ($('#divCanvas').width() - 390) / 2;
      var oOffset0 = Math.max(w, 0);

      // F
      balls.push(new Ball(oOffset0 + 50, 93, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 58, 53, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 43, 52, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 30, 53, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 58, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 70, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 82, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 96, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 107, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 120, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 130, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 17, 140, 0, 0, blue));
      balls.push(new Ball(oOffset0 + 35, 95, 0, 0, blue));

      // a
      balls.push(new Ball(oOffset0 + 107, 84, 0, 0, red));
      balls.push(new Ball(oOffset0 + 99, 82, 0, 0, red));
      balls.push(new Ball(oOffset0 + 89, 86, 0, 0, red));
      balls.push(new Ball(oOffset0 + 83, 91, 0, 0, red));
      balls.push(new Ball(oOffset0 + 78, 103, 0, 0, red));
      balls.push(new Ball(oOffset0 + 82, 116, 0, 0, red));
      balls.push(new Ball(oOffset0 + 91, 127, 0, 0, red));
      balls.push(new Ball(oOffset0 + 105, 130, 0, 0, red));
      balls.push(new Ball(oOffset0 + 119, 127, 0, 0, red));
      balls.push(new Ball(oOffset0 + 126, 114, 0, 0, red));
      balls.push(new Ball(oOffset0 + 124, 98, 0, 0, red));
      balls.push(new Ball(oOffset0 + 119, 86, 0, 0, red));
      balls.push(new Ball(oOffset0 + 135, 128, 0, 0, red));

      // c
      var oOffset = 67 - 100 + oOffset0;
      balls.push(new Ball(oOffset + 210, 81, 0, 0, yellow));
      balls.push(new Ball(oOffset + 197, 91, 0, 0, yellow));
      balls.push(new Ball(oOffset + 196, 103, 0, 0, yellow));
      balls.push(new Ball(oOffset + 200, 116, 0, 0, yellow));
      balls.push(new Ball(oOffset + 209, 127, 0, 0, yellow));
      balls.push(new Ball(oOffset + 223, 130, 0, 0, yellow));
      balls.push(new Ball(oOffset + 237, 127, 0, 0, yellow));
      balls.push(new Ball(oOffset + 237, 86, 0, 0, yellow));
      balls.push(new Ball(oOffset + 225, 81, 0, 0, yellow));

      // t
      var oOffset1 = 34 + oOffset0;
      balls.push(new Ball(oOffset1 + 227, 127, 0, 0, green));
      balls.push(new Ball(oOffset1 + 227, 114, 0, 0, green));
      balls.push(new Ball(oOffset1 + 227, 98, 0, 0, green));
      balls.push(new Ball(oOffset1 + 227, 86, 0, 0, green));
      balls.push(new Ball(oOffset1 + 215, 81, 0, 0, green));
      balls.push(new Ball(oOffset1 + 205, 81, 0, 0, green));
      balls.push(new Ball(oOffset1 + 240, 81, 0, 0, green));
      balls.push(new Ball(oOffset1 + 255, 81, 0, 0, green));
      balls.push(new Ball(oOffset1 + 255, 128, 0, 0, green));
      balls.push(new Ball(oOffset1 + 240, 135, 0, 0, green));
      balls.push(new Ball(oOffset1 + 227, 76, 0, 0, green));
      balls.push(new Ball(oOffset1 + 227, 63, 0, 0, green));
      balls.push(new Ball(oOffset1 + 227, 50, 0, 0, green));

      return balls;
    }
    function getMousePos(canvas, evt) {
      // get canvas position
      var obj = canvas;
      var top = 0;
      var left = 0;
      while(obj.tagName != 'BODY') {
        top += obj.offsetTop;
        left += obj.offsetLeft;
        obj = obj.offsetParent;
      }

      // return relative mouse position
      var mouseX = evt.clientX - left + window.pageXOffset;
      var mouseY = evt.clientY - top + window.pageYOffset;
      return {
        x: mouseX,
        y: mouseY
      };
    }
    function updateBalls(canvas, balls, timeDiff, mousePos) {
      var context = canvas.getContext('2d');
      var collisionDamper = 0.3;
      var floorFriction = 0.0005 * timeDiff;
      var mouseForceMultiplier = 1 * timeDiff;
      var restoreForce = 0.002 * timeDiff;

      for(var n = 0; n < balls.length; n++) {
        var ball = balls[n];
        // set ball position based on velocity
        ball.y += ball.vy;
        ball.x += ball.vx;

        // restore forces
        if(ball.x > ball.origX) {
          ball.vx -= restoreForce;
        }
        else {
          ball.vx += restoreForce;
        }
        if(ball.y > ball.origY) {
          ball.vy -= restoreForce;
        }
        else {
          ball.vy += restoreForce;
        }

        // mouse forces
        var mouseX = mousePos.x;
        var mouseY = mousePos.y;

        var distX = ball.x - mouseX;
        var distY = ball.y - mouseY;

        var radius = Math.sqrt(Math.pow(distX, 2) + Math.pow(distY, 2));

        var totalDist = Math.abs(distX) + Math.abs(distY);

        var forceX = (Math.abs(distX) / totalDist) * (1 / radius) * mouseForceMultiplier;
        var forceY = (Math.abs(distY) / totalDist) * (1 / radius) * mouseForceMultiplier;

        if(distX > 0) {// mouse is left of ball
          ball.vx += forceX;
        }
        else {
          ball.vx -= forceX;
        }
        if(distY > 0) {// mouse is on top of ball
          ball.vy += forceY;
        }
        else {
          ball.vy -= forceY;
        }

        // floor friction
        if(ball.vx > 0) {
          ball.vx -= floorFriction;
        }
        else if(ball.vx < 0) {
          ball.vx += floorFriction;
        }
        if(ball.vy > 0) {
          ball.vy -= floorFriction;
        }
        else if(ball.vy < 0) {
          ball.vy += floorFriction;
        }

        // floor condition
        if(ball.y > (canvas.height - ball.radius)) {
          ball.y = canvas.height - ball.radius - 2;
          ball.vy *= -1;
          ball.vy *= (1 - collisionDamper);
        }

        // ceiling condition
        if(ball.y < (ball.radius)) {
          ball.y = ball.radius + 2;
          ball.vy *= -1;
          ball.vy *= (1 - collisionDamper);
        }

        // right wall condition
        if(ball.x > (canvas.width - ball.radius)) {
          ball.x = canvas.width - ball.radius - 2;
          ball.vx *= -1;
          ball.vx *= (1 - collisionDamper);
        }

        // left wall condition
        if(ball.x < (ball.radius)) {
          ball.x = ball.radius + 2;
          ball.vx *= -1;
          ball.vx *= (1 - collisionDamper);
        }
      }
    }
    function Ball(x, y, vx, vy, color) {
      this.x = x;
      this.y = y;
      this.vx = vx;
      this.vy = vy;
      this.color = color;
      this.origX = x;
      this.origY = y;
      this.radius = 10;
    }
    function animate(canvas, balls, lastTime, mousePos) {
      var context = canvas.getContext('2d');
      var w = $('#divCanvas').width();
      var h = $('#divCanvas').height();
      context.canvas.width  = Math.max(w, 360);
      context.canvas.height = h > 600 ? 600 : h < 300 ? 300: h;
      // update
      var date = new Date();
      var time = date.getTime();
      var timeDiff = time - lastTime;
      updateBalls(canvas, balls, timeDiff, mousePos);
      lastTime = time;

      // clear
      context.clearRect(0, 0, canvas.width, canvas.height);

      // render
      for(var n = 0; n < balls.length; n++) {
        var ball = balls[n];
        context.beginPath();
        context.arc(ball.x, ball.y, ball.radius, 0, 2 * Math.PI, false);
        context.fillStyle = ball.color;
        context.fill();
      }

      // request new frame
      requestAnimFrame(function() {
        animate(canvas, balls, lastTime, mousePos);
      });
    }

    function draw(){
      var canvas = document.getElementById('myCanvas');
      var balls = initBalls();
      var date = new Date();
      var time = date.getTime();
      /*
       * set mouse position really far away
       * so the mouse forces are nearly obsolete
       */
      var mousePos = {
        x: 9999,
        y: 9999
      };

      canvas.addEventListener('mousemove', function(evt) {
        var pos = getMousePos(canvas, evt);
        mousePos.x = pos.x;
        mousePos.y = pos.y;
      });

      canvas.addEventListener('mouseout', function(evt) {
        mousePos.x = 9999;
        mousePos.y = 9999;
      });

      animate(canvas, balls, time, mousePos);

    }

    draw();

    $(window).resize(function(){
        HBuddy.waitForFinalEvent(function(){
          draw();
        }, 500, "resize");
      });

  </script>
}
