@(videoOpt: Option[cfs.File])(implicit request: UserRequest[_])

@layouts.base(MSG("Wiki"), above_content = movie){

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a href="http://jquery.com">
        <img width="300" src="http://upload.wikimedia.org/wikipedia/en/thumb/9/9e/JQuery_logo.svg/524px-JQuery_logo.svg.png">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6">
      <a href="http://backbonejs.org">
        <img width="300" src="http://backbonejs.org/docs/images/backbone.png">
      </a>
    </div>
  </div>

  <div class="row sectionend">
    <div class="col-xs-12 col-sm-6">
      <a href="https://developers.google.com/chart">
        <img src="https://developers.google.com/_static/images/developers-logo.svg">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.debian.org">
        <img src="http://www.debian.org/logos/openlogo-100.jpg">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.scala-lang.org">
        <img src="http://upload.wikimedia.org/wikipedia/en/8/85/Scala_logo.png">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.w3.org/html/logo">
        <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_128.png">
      </a>
    </div>
  </div>

  <div class="row sectionend">
    <div class="col-xs-12 col-sm-6">
      <a href="http://coffeescript.org">
        <img src="http://coffeescript.org/documentation/images/logo.png">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.sublimetext.com/2">
        <img width="100" src="http://upload.wikimedia.org/wikipedia/en/4/4c/Sublime_Text_Logo.png">
      </a>
    </div>
  </div>

  <div class="row sectionend">
    <div class="col-xs-12 col-sm-6">
      <a href="http://hbase.apache.org">
        <img src="http://hbase.apache.org/images/hbase_logo.png">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.postgresql.org">
        <img src="http://wiki.postgresql.org/images/3/30/PostgreSQL_logo.3colors.120x120.png">
      </a>
    </div>
  </div>
}(css=css)

@movie = {
  @videoOpt.map {video =>
    <div class="row-fluid">
      <video class="col-xs-12"
        src="@routes.Files.stream(video.id)" autoplay autobuffer>
      </video>
    </div>
  }
}

@css = {
  <style>
    .col-xs-12 {
      margin-bottom: 30px;
    }
    h1 {
      margin-bottom: 40px;
      padding-bottom: 15px;
      border-style: solid;
      border-color:#dddddd;
      border-width: 0px 0px 2px 0px;
    }
    .sectionend {
      margin-bottom: 80px;
    }
  </style>
}
