@(pager: Pager)(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@layouts.base(AccessControls.vmsg("title")) {

  @common._flashing()

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-shield fa-lg fa-fw text-success"></i>
      @AccessControls.vmsg("head")
    </h2>
  </div>

  <div class="row">
    <form name="form" ng-controller="NewEntryCtrl">
      <div class="col-xs-12 col-sm-6 col-md-4">
        @ng._form_control("principal",
          '_inline      -> false,
          'tabindex     -> 1,
          'placeholder  -> AccessControls.vmsg("principal.placeholder"),
          'typeahead    -> "item as item.label for item in getItems($viewValue)",
          'autocomplete -> "off",
          Symbol("ng-model") -> "ac.principal"
        )
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2">
        @ng._select("resource",
          '_inline      -> false,
          'tabindex     -> 2,
          Symbol("ng-model")   -> "ac.resource",
          Symbol("ng-options") -> "k as v for (k,v) in ACList.resources"
        )
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2">
        @ng._select("action",
          '_inline      -> false,
          'tabindex     -> 3,
          Symbol("ng-model")   -> "ac.action",
          Symbol("ng-options") -> "k as v for (k,v) in ACList.actions"
        )
      </div>

      <div class="col-xs-12 col-sm-5 col-md-3">
        @ng._form_group_static("granted",
          '_inline      -> false
        ){
          <div class="btn-group">
            <label class="btn btn-default" ng-model="ac.granted" btn-radio="true">
              <i class="fa fa-check-circle fa-lg text-success"></i>
              @MSG("allow")
            </label>
            <label class="btn btn-default" ng-model="ac.granted" btn-radio="false">
              <i class="fa fa-ban fa-lg text-danger"></i>
              @MSG("deny")
            </label>
          </div>
        }
      </div>

      <div class="col-xs-12 col-sm-1 col-md-1 btn-wrapper">
        <button type="submit" class="btn btn-success pull-right" ng-click="create(ac)">
          <i class="fa fa-save fa-lg"></i>
          @MSG("create")
        </button>
      </div>

    </form>

  </div>

  <div ng-controller="ACCtrl">

    @ng._msg_confirm_delete("html")

    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-xs-4  col-sm-4 ">
                @MSG("principal")
              </th>
              <th class="col-xs-2  col-sm-4 ">
                @MSG("resource")
              </th>
              <th class="col-xs-1  col-sm-2 ">
                @MSG("action")
              </th>
              <th class="col-xs-2  col-sm-2 text-right">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-cloak" ng-repeat="ac in ACList.acs" ng-class="ac.resource.indexOf('access_controls') > -1? 'bg-danger' : ''">
              <td ng-if="ac.is_group">
                <a ng-href="{{jsRoutes.controllers.Groups.show(ac.principal).url}}">
                  <i class="fa fa-group fa-lg fa-fw text-info"></i>
                  {{ ACList.groups[ac.principal].name }}
                </a>
              </td>
              <td ng-if="!ac.is_group">
                <a ng-href="{{jsRoutes.controllers.Users.show(ac.principal).url}}">
                  <i class="fa fa-user fa-lg fa-fw text-info"></i>
                  {{ ACList.users[ac.principal].email }}
                </a>
              </td>
              <td>
                {{ ACList.resources[ac.resource] || ac.resource }}
              </td>
              <td>
                {{ ACList.actions[ac.action] }}
              </td>
              <td>
                <div class="btn-toolbar pull-right">
                  <div class="btn-group">
                    <toggle-switch status="ac.granted" ng-click="ACList.save(ac)"/>
                  </div>
                  <div class="btn-group hidden-xs" style="padding-top:3px">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="confirm(ac)">
                      <i class="fa fa-trash-o"></i>
                      @MSG("delete")
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      @ng._pager("ACList.links")
    </div>
  </div>
}()(
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api"),
  libs.assets("js", "ui.parts"),
  ng._msg_confirm_delete("js"),
  jsRoutes,
  controller
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.Groups.show,
    routes.javascript.Users.show
  )
}

@controller = {
  <script>
    var list = angular.module('access_controls.list',
      ['ui.bootstrap', 'ui.parts.toggle-switch',
       'api.access_control', 'api.group', 'api.user', 'api.helper'])

      list.factory('ACList',
        ['AccessControl', 'Group', 'User', 'LinkHeader', 'Alert',
        function(AC, Group, User, LinkHeader, Alert){
          var service = {};
          service.links = LinkHeader.links;

          service.acs = AC.query({
            page     :@pager.pageNum,
            per_page :@pager.pageSize
            }, function(acs, headers){
              LinkHeader.updateLinks(
                '@Html(routes.AccessControls.index(pager.next).toString)',
                '@Html(routes.AccessControls.index(pager.prev).toString)',
                headers);

              Group.query({ids:AC.gids(acs).join(',')},
                function(grps, headers) {
                  service.groups = Group.toMap(grps);
              });

              User.query({ids:AC.uids(acs).join(',')},
                function(usrs, headers) {
                  service.users = User.toMap(usrs);
              });
            });

          service.resources = {
            @Secured.Modules.names.map{ n =>
              '@n' : '@MSG(s"$n.name")',
            }
          };

          service.actions = {
            @Secured.Actions.names.map{ n =>
              '@n' : '@MSG(s"actions.$n")',
            }
          };

          service.create = function(data, principal) {
            new AC(data).$save(function(value){
              if (data.is_group) {
                service.groups[principal.id] = principal;
              } else {
                service.users[principal.id] = principal;
              }

              if(_.findIndex(service.acs, {
                  principal:value.principal,
                  resource: value.resource,
                  action: value.action
                }) === -1) {
                service.acs.unshift(value);
              }
            });
          };

          service.delete = function(data) {
            data.$delete(data,
              function(){
                var idx = service.acs.indexOf(data);
                service.acs.splice(idx, 1);
              },
              function(res){
                Alert.push({type:'danger', msg:res.data.message});
            });
          };

          service.save = function(data) {
            console.log(data);
            data.$save(data,
              function(value){
              },
              function(res){
                Alert.push({type:'danger', msg:res.data.message});
            });
          };

          return service;
      }])

      .controller('ACCtrl', ['$scope', '$modal', 'ACList',
        function($scope, $modal, ACList) {
          $scope.ACList   = ACList;
          $scope.jsRoutes = jsRoutes;

          $scope.confirm = function(ac) {
            var instance = openConfirmDelete($modal);

            instance.result.then(function() {
              ACList.delete(ac);
            }, function () {
            });
          };
      }])

      .controller('AlertCtrl',['$scope', 'Alert',
        function ($scope, Alert) {
          $scope.Alert = Alert;
      }])

      .controller('NewEntryCtrl', ['$scope', '$http', 'ACList',
        function ($scope, $http, ACList) {
          $scope.ACList = ACList;

          $scope.ac = {
            principal :'',
            resource  :_.keys(ACList.resources)[0],
            action    :_.keys(ACList.actions)[0],
            granted   :true
          };

          var types = ['groups', 'users'];

          $scope.create = function(ac){
            if (_.contains(types, ac.principal._type)) {
              ACList.create({
                principal : ac.principal.id,
                resource  : ac.resource,
                action    : ac.action,
                is_group  : ac.principal._type === 'groups',
                granted   : ac.granted
              }, ac.principal._source);
            }
          };

          $scope.getItems = function(val) {
            return $http.get('/api/search', {
              params: {
                types : types.join(','),
                q     : '*' + val + '*'
              }
            }).then(function(response){
              _.chain(response.data)
                .filter(function(item){return _.contains(types, item._type)})
                .each(function(item){
                  if (item._type === 'users') {
                    item.label = item._source.email;
                    item.id = item._source.id;
                  }
                  if (item._type === 'groups') {
                    item.label = item._source.name;
                    item.id = item._source.id;
                  }
                });
              return response.data;
            });
          };
      }]);

    addConfirmDeleteCtrl(list);

    angular.module('app').requires.push('access_controls.list');
  </script>
}