AppLoaderInDev.scala
logs
project/project
project/target
target
tmp
.history
README.html
/.idea
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup*
/conf/application*.conf
/conf/logger.xml
/conf/logback.xml
/project/plugins.sbt
/data
*.orig
modules/services/journal/
