@(fm: Form[_])(implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@pkg = @{AccessControls.module_name}

@layouts.base(MSG(s"$pkg.head") + " - " + MSG("app.name")){

  @fm.globalErrors.map { gerr =>
    @common._alert("danger"){
      @MSG(gerr.message)
    }
  }

  <div class="panel panel-primary auth-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        @MSG(s"$pkg.title")
      </h3>
    </div>
    <div class="panel-body">
      @form(action = routes.PasswordReset.create()) {

        @{_input_email(fm("email"),
          'placeholder -> MSG(s"$pkg.email.enter"),
          'tabindex    -> 1
          )(_fc_form_group)
        }

        <button type="submit" class="btn btn-default" tabindex="2">
          @MSG("submit")
        </button>
      }
    </div>
  </div>

}()()