@()(implicit req: MaybeUserRequest[_], messages: Messages, env: Environment)

@account.base_tmpl(PasswordResetCtrl.msg("title") + " - " + MSG("app.name")){

  <h3 class="text-center">
    @PasswordResetCtrl.msg("new.head")
  </h3>

  <p>
    @PasswordResetCtrl.msg("sent.msg1")
  </p>
  <p>
    @PasswordResetCtrl.msg("sent.msg2")
  </p>
  <a href="@routes.SessionsCtrl.nnew()" class="btn btn-default btn-lg btn-block" tabindex="2">
    @PasswordResetCtrl.msg("return.to.sign.in")
    <i class="fa fa-arrow-right"></i>
  </a>
}()()