@()(implicit req: MaybeUserRequest[_], lang: Lang)

@layouts.base(PasswordReset.vmsg("title") + " - " + MSG("app.name")){

  <div class="panel panel-primary auth-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        @PasswordReset.vmsg("title")
      </h3>
    </div>
    <div class="panel-body">
      <p>
        @PasswordReset.vmsg("sent.msg1")
      </p>
      <p>
        @PasswordReset.vmsg("sent.msg2")
      </p>
      <a href="@routes.Sessions.nnew" class="btn btn-default" tabindex="2">
        @PasswordReset.vmsg("return.to.sign.in")
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
}()()