@(id: String)(fm: Form[_])(implicit req: MaybeUserRequest[_], messages: Messages)

@import common._
@import helper._

@layouts.base(PasswordResetCtrl.vmsg("change.title") + " - " + MSG("app.name")){

  @fm.globalErrors.map { gerr =>
    @common._alert("danger"){
      @MSG(gerr.message)
    }
  }

  <div class="panel panel-primary auth-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        @PasswordResetCtrl.vmsg("change.title")
      </h3>
    </div>
    <div class="panel-body">
      @form(action = routes.PasswordResetCtrl.save(id)) {

        @{_input_password(fm("password.original"),
          'tabindex    -> 1
          )(_fc_form_group)
        }

        <p>@PasswordResetCtrl.vmsg("password.hint")</p>

        @{_input_password(fm("password.confirmation"),
          'tabindex    -> 2
          )(_fc_form_group)
        }

        <button type="submit" class="btn btn-default" tabindex="3">
          @PasswordResetCtrl.vmsg("password.change")
        </button>
      }
    </div>
  </div>

}()()