@(id: String)(fm: Form[_])(implicit req: MaybeUserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@account.base_tmpl(PasswordResetCtrl.msg("change.title") + " - " + MSG("app.name")){

  <h3 class="text-center">
    @PasswordResetCtrl.msg("change.title")
  </h3>

  @fm.globalErrors.map { err =>
    @common._alert("danger", dismissible = true){
      @MSG(err.message)
    }
  }

  @form(action = routes.PasswordResetCtrl.save(id), 'class -> "account-form") {

    <p>@PasswordResetCtrl.msg("password.hint")</p>

    @{_input_password(fm("password.original"),
      'tabindex    -> 1,
      '_icons      -> "fa fa-key fa-fw"
      )(_fc_input_group)
    }

    @{_input_password(fm("password.confirmation"),
      'tabindex    -> 2,
      '_icons      -> "fa fa-key fa-fw"
      )(_fc_input_group)
    }

    <button type="submit" class="btn btn-success btn-lg btn-block" tabindex="3">
      @PasswordResetCtrl.msg("password.change")
    </button>
  }

}()()