@(page: Page[Group])(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@pkg = @{Groups.module_name}

@layouts.base(MSG(s"$pkg.title")) {

  @common._flashing()

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-group fa-lg"></i>
      @MSG(s"$pkg.head")
    </h2>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-5  col-sm-5 ">
              @MSG("id")
            </th>
            <th class="hidden-xs col-sm-2 ">
              @MSG("name")
            </th>
            <th class="col-xs-4  col-sm-2 text-right">
              @MSG("action")
            </th>
          </tr>
        </thead>
        <tbody>
          @page.map { grp =>
            <tr>
              <td>
                @grp.id
              </td>
              <td class="hidden-xs">
                @grp.name
              </td>
              <td>
              </td>
            </tr>
          }
        </tbody>
      </table>

      @{_pager(page, p => routes.Groups.index(p))}
    </div>
  </div>
}()(libs.assets("js", "pager"))