@(pager: Pager, sort: Seq[SortField])(
implicit req: UserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@layouts.base(GroupsCtrl.msg("title")) {

  @ng._alert()

  <div class="page-header">
    <h1>
      <i class="fa fa-group fa-lg fa-fw"></i>
      @GroupsCtrl.msg("head")
    </h1>
  </div>

  <div class="row" ng-controller="GroupsCtrl">

    @ng._msg_confirm_delete()

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover table-ellipsis">
          <thead>
            <tr>
              <th class="hidden-xs col-sm-5 col-md-4">
                @MSG("id")
              </th>
              <th class="col-xs-7 col-sm-3 col-md-3">
                @MSG("name")
              </th>
              <th class="hidden-xs hidden-sm col-md-2">
                @MSG("description")
              </th>
              <th class="hidden-xs col-sm-2 col-md-2">
                @MSG("layout")
              </th>
              <th class="col-xs-2 hidden-sm col-md-1 text-right">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-cloak" ng-repeat="grp in GroupListSvc.values">
              <td class="hidden-xs">
                <a ng-if="!grp.is_internal" ng-href="{{jsRoutes.controllers.GroupsCtrl.show(grp.id).url}}">
                  <code>{{ grp.id }}</code>
                </a>
                <code ng-if="grp.is_internal" class="bg-primary">{{ grp.id }}</code>
                <button type="button" class="btn btn-danger btn-xs visible-sm pull-right"
                  ng-show="!grp.is_internal"
                  ng-click="confirm(grp)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>

              <td>
                <div class="hidden-sm hidden-md hidden-lg pull-left" style="margin-right:5px;">
                  <a ng-if="!grp.is_internal" ng-href="{{jsRoutes.controllers.GroupsCtrl.show(grp.id).url}}">
                    <i class="fa fa-info-circle fa-lg text-info"></i>
                  </a>
                  <i ng-if="grp.is_internal" class="fa fa-info-circle fa-lg"></i>
                </div>

                <a href="#" editable-text="grp.group_name" buttons="no"
                  onbeforesave="checkName($data)"
                  onaftersave="grp.$save()">
                  {{ grp.group_name }}
                </a>
              </td>

              <td class="hidden-xs hidden-sm">
                {{ grp.description }}
              </td>

              <td class="hidden-xs">
                <select class="form-control input-sm"
                  ng-options="k as v for (k,v) in Layouts"
                  ng-model="grp.layout"
                  ng-change="setLayout(grp.id, grp.layout)">
                </select>
              </td>

              <td class="hidden-sm">
                <button type="button" class="btn btn-danger btn-xs pull-right"
                  ng-show="!grp.is_internal"
                  ng-click="confirm(grp)">
                  <i class="fa fa-trash"></i>
                  @MSG("delete")
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form name="form" class="form-inline" novalidate>

        @ng._form_control("name",
          'maxLength    -> 64,
          'minLength    -> 2,
          'tabindex     -> 1,
          'placeholder  -> GroupsCtrl.msg("name.placeholder"),
          'autocomplete -> "off",
          Symbol("ng-model") -> "group.group_name"
        )

        @ng._form_control("description",
          'tabindex    -> 2,
          'placeholder -> GroupsCtrl.msg("description.placeholder"),
          Symbol("ng-model") -> "group.description"
        )

        <button type="submit" class="btn btn-success"
          ng-click="create(group)"
          ng-disabled="form.$invalid || !group.group_name">
          <i class="fa fa-plus"></i>
          @GroupsCtrl.msg("new.group")
        </button>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      @ng._pager("GroupListSvc.links", jump = false)
    </div>
  </div>
}(
  libs.webjars("css", "xeditable")
)(
  libs.webjars("js", "angular-resource"),
  libs.webjars("js", "xeditable"),
  libs.assets("js", "api.helper"),
  libs.assets("js", "ui.parts"),
  libs.assets("js", "api_internal/groups"),
  libs.assets("js", "groups/index"),
  jsRoutes,
  controller
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.GroupsCtrl.show,
    api_internal.routes.javascript.GroupsCtrl.checkName
  )
}

@controller = {
  <script>
    views.groups.index.run(['GroupListSvc', function(GroupListSvc) {
      GroupListSvc.Layouts = @Html(Layouts.toJson);
      GroupListSvc.options = {
        page     : @pager.pageNum,
        pageSize : @pager.pageSize,
        sort     : @Html(SortField.toJson(sort)),
        nextPage : '@Html(routes.GroupsCtrl.index(pager.next, sort).toString)',
        prevPage : '@Html(routes.GroupsCtrl.index(pager.prev, sort).toString)'
      };
    }]);
  </script>
}