@(group: Group)(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@layouts.base(Groups.vmsg("title")) {

  <div class="ng-cloak" ng-controller="AlertCtrl">
    <alert ng-repeat="alert in Alert.alerts" type="{{alert.type}}" close="Alert.dismiss($index)">{{alert.msg}}</alert>
  </div>

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-group fa-lg fa-fw"></i>
      @group.name
    </h2>
  </div>

  <div class="row" style="margin-top:10px">
    @{_info(group)}
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form name="form" class="form-inline"
        ng-controller="NewEntryCtrl" novalidate>

        @ng._form_control("email",
          '_type        -> "email",
          'maxLength    -> 64,
          'email        -> None,
          'placeholder  -> Groups.vmsg("user.email.placeholder"),
          'typeahead    -> "email for email in getUserEmails($viewValue)",
          'autocomplete -> "off",
          Symbol("ng-model") -> "user.email"
        )

        <button type="submit" class="btn btn-success" ng-click="GroupUsersList.create(user)" ng-disabled="form.$invalid">
          <i class="fa fa-user-plus"></i>
          @MSG("add.user")
        </button>
      </form>
    </div>
  </div>

  <div class="row" ng-controller="UserGroupsCtrl" data-id="@group.id">

    @ng._msg_confirm_delete("html")

    <div class="table-responsive">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-4 col-sm-5">
              @MSG("email")
            </th>
            <th class="hidden-xs col-sm-5 ">
              @MSG("name")
            </th>
            <th class="col-xs-2  col-sm-2 text-right">
              @MSG("action")
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="ng-cloak" ng-repeat="usr in GroupUsersList.users">
            <td>
              <a ng-href="/users/{{usr.id}}">
                <i class="fa fa-user"></i>
                {{ usr.email }}
              </a>
            </td>
            <td class="hidden-xs">
              {{ usr.name }}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-xs pull-right"
                ng-click="confirm(usr)">
                <i class="fa fa-user-times"></i>
                @MSG("delete")
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
}(
  libs.webjars("css", "xeditable")
)(
  libs.webjars("js", "xeditable"),
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api"),
  ng._msg_confirm_delete("js"),
  controller
)

@controller = {
  <script>

    var list = angular.module('group.users.list',
      ["xeditable", 'api.group', 'api.helper']);

    list.factory('GroupUsersList',
      ['Group', 'Alert',
      function(Group, Alert){
        var service = {};

        service.users = [];

        service.init = function(gid) {
          if (service.users.length === 0) {
            service.group = {id:gid};
            service.users = Group.users(service.group);
          };
          return service;
        };

        service.create = function(data) {
          Group.addUser(service.group, data,
            function (value) {
              var exists = false;
              for (var i = 0; i < service.users.length; i++) {
                 if(service.users[i].id === value.id) {
                    exists = true;
                    break;
                 }
              };
              if (!exists) {
                service.users.unshift(value);
              };
            },
            function (res) {
              Alert.push({type:'danger', msg:res.data.message});
            });
        };

        service.delete = function(data) {
          Group.delUser(service.group, {uid:data.id}, function () {
            var idx = service.users.indexOf(data);
            service.users.splice(idx, 1);
          });
        };

        return service;
    }])

    .controller('UserGroupsCtrl',
      ['$scope', '$attrs', '$modal', 'GroupUsersList',
      function($scope, $attrs, $modal, GroupUsersList) {
        $scope.GroupUsersList = GroupUsersList.init($attrs.id);

        $scope.confirm = function(usr) {
          var instance = openConfirmDelete($modal);

          instance.result.then(function() {
            GroupUsersList.delete(usr);
          }, function () {
          });
        };
    }])
    .controller('NewEntryCtrl',
      ['$scope', '$http', 'GroupUsersList',
      function ($scope, $http, GroupUsersList) {
        $scope.GroupUsersList  = GroupUsersList;

        $scope.getUserEmails = function(val) {
          return $http.get('/api/users', {
            params: {q: "*" + val + "*"}
          }).then(function(response){
            return response.data.map(function(item){
              return item.email;
            });
          });
        };
    }])
    .controller('AlertCtrl',['$scope', 'Alert', function($scope, Alert) {
      $scope.Alert = Alert;
    }]);

    addConfirmDeleteCtrl(list);

    angular.module('app').requires.push('group.users.list');
  </script>
}