@(group: Group)(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@layouts.base(Groups.vmsg("title")) {

  @ng._alert()

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-group fa-lg fa-fw"></i>
      @group.name
    </h2>
  </div>

  <div class="row" style="margin-top:10px">
    @{_info(group)}
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form name="form" class="form-inline"
        ng-controller="NewEntryCtrl" novalidate>

        @ng._form_control("email",
          '_type        -> "email",
          'maxLength    -> 64,
          'email        -> None,
          'placeholder  -> Groups.vmsg("user.email.placeholder"),
          'typeahead    -> "email for email in getUserEmails($viewValue)",
          'autocomplete -> "off",
          Symbol("ng-model") -> "user.email"
        )

        <button type="submit" class="btn btn-success" ng-click="GroupUsersList.create(user)"
          ng-disabled="form.$invalid || !user.email || user.email === ''">
          <i class="fa fa-user-plus"></i>
          @MSG("add.user")
        </button>
      </form>
    </div>
  </div>

  <div class="row" ng-controller="UserGroupsCtrl" data-id="@group.id">

    @ng._msg_confirm_delete("html")

    <div class="table-responsive">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-4 col-sm-5">
              @MSG("email")
            </th>
            <th class="hidden-xs col-sm-5 ">
              @MSG("name")
            </th>
            <th class="col-xs-2  col-sm-2 text-right">
              @MSG("action")
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="ng-cloak" ng-repeat="usr in GroupUsersList.users">
            <td>
              <a ng-href="/users/{{usr.id}}">
                <i class="fa fa-user"></i>
                {{ usr.email }}
              </a>
            </td>
            <td class="hidden-xs">
              {{ usr.name }}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-xs pull-right"
                ng-click="confirm(usr)">
                <i class="fa fa-user-times"></i>
                @MSG("delete")
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
}()(
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api"),
  libs.assets("js", "ui.parts"),
  libs.assets("js", "groups/show")
)