@(group: Group)(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@layouts.base(Groups.vmsg("title")) {

  @common._flashing()

  <div ng-controller="AlertCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-group fa-lg"></i>
      @group.name
    </h2>
  </div>

  <div class="row" style="margin-top:10px">
    @{_info(group)}
  </div>

  <div class="row">
    <div class="table-responsive" ng-controller="UserGroupsCtrl" data-id="@group.id">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-4 col-sm-5">
              @MSG("email")
            </th>
            <th class="col-xs-4 col-sm-5">
              @MSG("name")
            </th>
            <th class="col-xs-2  col-sm-2 text-right">
              @MSG("action")
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="usr in GroupUsersList.users">
            <td>
              {{ usr.email }}
            </td>
            <td>
              {{ usr.name }}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-xs pull-right"
                ng-click="GroupUsersList.delete(usr)">
                <i class="fa fa-trash"></i>
                @MSG("delete")
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-xs-12" ng-controller="NewEntryCtrl">

        <form name="form" class="form-inline" novalidate>

          @ng._form_group("email1",
            '_type       -> "email",
            'required    -> true,
            'maxLength   -> 64,
            'email       -> None,
            'placeholder -> "Enter user's email",
            Symbol("ng-model") -> "user.email"
          )

          <button type="submit" class="btn btn-success" ng-click="GroupUsersList.create(user)" ng-disabled="form.$invalid">
            <i class="fa fa-plus"></i>
            @MSG("create")
          </button>
        </form>
      </div>

    </div>
  </div>
}(
  libs.webjars("css", "xeditable")
)(
  libs.webjars("js", "xeditable"),
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api"),
  controller
)

@controller = {
  <script>

    var list = angular.module('group.users.list',
      ["xeditable", 'api.group', 'api.helper']);

    list.factory('GroupUsersList',
      ['Group', 'Alerts',
      function(Group, Alerts){
        var service = {};

        service.users = [];

        service.init = function(gid) {
          if (service.users.length === 0) {
            service.group = {id:gid};
            service.users = Group.users(service.group);
          };
          return service;
        };

        service.create = function(data) {
          Group.addUser(service.group, data,
            function (value) {
              service.users.unshift(value);
            },
            function (res) {
              Alerts.push({type:'danger', msg:res.data.message})
            });
        };

        service.delete = function(data) {
          Group.delUser(service.group, {uid:data.id}, function () {
            var idx = service.users.indexOf(data);
            service.users.splice(idx, 1);
          });
        };

        return service;
    }])
    .factory('Alerts', [
      function() {
        return [];
    }])

    .controller('AlertCtrl',
      ['$scope', 'Alerts',
      function ($scope, Alerts) {
      $scope.alerts = Alerts;

      $scope.closeAlert = function(index) {
        $scope.alerts.splice(index, 1);
      };
    }])
    .controller('UserGroupsCtrl',
      ['$scope', '$attrs', 'GroupUsersList',
      function ($scope, $attrs, GroupUsersList) {
        $scope.GroupUsersList = GroupUsersList.init($attrs.id);
    }])
    .controller('NewEntryCtrl',
      ['$scope', 'GroupUsersList',
      function ($scope, GroupUsersList) {
        $scope.GroupUsersList  = GroupUsersList;
    }]);

    angular.module('app').requires.push('group.users.list');
  </script>
}