@(user:User, groups:Seq[Group])(
implicit req: UserRequest[_], messages: Messages)

@size = @{groups.size}
@halfs = @{groups.zipWithIndex.span(x => x._2 <= size / 2)}

<div class="col-xs-12 col-sm-6 col-md-4">
  @common._form_group_static("id") {
    <code>@user.id</code>
  }
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
  @common._form_group_static("name") {
    @user.name
  }
</div>
<div class="col-xs-12 col-sm-12 col-md-4">
  @common._form_group_static("email") {
    @user.email
  }
</div>

<div class="col-xs-12 col-sm-4">
  @common._form_group_static("external_groups") {
    <div class="list-group">
      <a ng-href="{{jsRoutes.controllers.GroupsCtrl.show(grp.id).url}}" ng-repeat="grp in groups" class="list-group-item ng-cloak">
        <i class="fa fa-group fa-fw"></i>
        {{ grp.name }}
      </a>
    </div>
  }
</div>

<div class="col-xs-12 col-sm-4">
  @common._form_group_static("internal_groups") {
    <ul class="list-group">
      @halfs._1.map { case (group, idx) =>
        <li class="list-group-item">
          @isGroupMember(user, idx)
          @group.name
        </li>
      }
    </ul>
  }
</div>

<div class="col-xs-12 col-sm-4">
  @common._form_group_static("internal_groups") {
    <ul class="list-group">
      @halfs._2.map { case (group, idx) =>
        <li class="list-group-item">
          @isGroupMember(user, idx)
          @group.name
        </li>
      }
    </ul>
  }
</div>

@isGroupMember(user:User, i:Int) = {
  @if(user.internal_group_bits.contains(InternalGroup(i))){
    <i class="fa fa-check-circle fa-lg text-success"></i>
  }else{
    <i class="fa fa-circle-thin fa-lg"></i>
  }
}