@(page: Page[User])(
implicit req: UserRequest[_], lang: Lang, msg: String => String)

@import common._
@import helper._

@layouts.base(Users.vmsg("title")) {

  @common._flashing()

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-user fa-lg fa-fw"></i>
      @Users.vmsg("head")
    </h2>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-8  col-sm-6 ">
              @MSG("email")
            </th>
            <th class="hidden-xs col-sm-3 ">
              @MSG("name")
            </th>
            <th class="visible-xs"></th>
            <th class="col-xs-4  col-sm-3 text-right">
              @MSG("action")
            </th>
          </tr>
        </thead>
        @page.map { usr =>
          <tbody ng-controller="InfoCtrl" data-id="@usr.id">
            <tr>
              <td>
                <i class="fa fa-info-circle fa-lg text-info" ng-click="isCollapsed = !isCollapsed"></i>
                @usr.email
              </td>
              <td class="hidden-xs">
                @usr.name
              </td>
              <td class="visible-xs"></td>
              <td>
                <div class="pull-right">
                  <i class="fa fa-unlock-alt fa-lg fa-fw"></i>
                </div>
              </td>
            </tr>
            <tr collapse="isCollapsed">
              <td colspan="3">
                @users._info(usr)
              </td>
            </tr>
          </tbody>
        }
      </table>
      @{_pager(page, p => routes.Users.index(p))}
    </div>
  </div>
}()(
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api"),
  controller
)

@controller = {
  <script>
    angular.module('users.list', ['ui.bootstrap', 'api.user'])
      .controller('InfoCtrl',['$scope', '$attrs', 'User', function ($scope, $attrs, User) {
        var initialized = false;

        $scope.isCollapsed = true;
        $scope.groups = [];
        $scope.$watch('isCollapsed', function(nv) {
          if(nv === false && $scope.groups.length === 0 && !initialized){
            $scope.groups = User.externalGroups({id: $attrs.id})
            initialized = true;
          }
        });
      }]);

    angular.module('app').requires.push('users.list');
  </script>
}