@(pager: Pager, sort: Seq[SortField])(
implicit req: UserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@layouts.base(UsersCtrl.msg("title")) {

  @ng._alert()

  <div class="page-header">
    <h1>
      <i class="fa fa-user fa-lg fa-fw"></i>
      @UsersCtrl.msg("head")
    </h1>
  </div>

  <div class="row" ng-controller="UsersCtrl">

    <div class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6">
      <div class="form-group">
        <label class="sr-only" for="search-users">
          @UsersCtrl.msg("search.label")
        </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
          <input type="search" class="form-control" id="search-users"
            placeholder="@UsersCtrl.msg("search.placeholder")"
            autocomplete="off"
            ng-model="keyword"
            ng-model-options="{ debounce: 500 }">
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover table-ellipsis">
          <thead>
            <tr>
              <th class="hidden-xs col-sm-6  col-md-5">
                @MSG("id")
              </th>
              <th class="col-xs-8  col-sm-3  col-md-3">
                @MSG("email")
              </th>
              <th class="hidden-xs hidden-sm col-md-3">
                @MSG("user.name")
              </th>
              <th class="col-xs-4  col-sm-3  col-md-1 text-right">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-cloak" ng-repeat="usr in UserListSvc.values">
              <td class="hidden-xs">
                <a ng-href="{{jsRoutes.controllers.UsersCtrl.show(usr.id).url}}">
                  <code>{{ usr.id }}</code>
                </a>
              </td>
              <td class="hidden-xs">
                {{ usr.email }}
              </td>
              <td class="visible-xs">
                <a ng-href="{{jsRoutes.controllers.UsersCtrl.show(usr.id).url}}">
                  {{ usr.email }}
                </a>
              </td>
              <td class="hidden-xs hidden-sm">
                {{ usr.name }}
              </td>
              <td>
                <div class="pull-right">
                  <i class="fa fa-unlock-alt fa-lg fa-fw"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12">
      <form name="form" class="form-inline" novalidate>

        @ng._form_control("email",
          '_type        -> "email",
          'email        -> None,
          'tabindex     -> 1,
          'placeholder  -> UsersCtrl.msg("email.placeholder"),
          'autocomplete -> "off",
          Symbol("ng-model") -> "user.email"
        )

        @ng._form_control("name",
          'maxLength    -> 64,
          'minLength    -> 2,
          'tabindex    -> 2,
          'placeholder -> UsersCtrl.msg("name.placeholder"),
          Symbol("ng-model") -> "user.name"
        )

        <button type="submit" class="btn btn-success" ng-click="create(user)"
          ng-disabled="form.$invalid || !user.email || !user.name">
          <i class="fa fa-user-plus"></i>
          @UsersCtrl.msg("new.user")
        </button>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="keyword">
      @ng._pager("UserListSvc.links")
    </div>
  </div>
}()(
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api.helper"),
  libs.assets("js", "ui.parts"),
  libs.assets("js", "api_internal/users"),
  libs.assets("js", "users/index"),
  jsRoutes,
  controller
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.UsersCtrl.show
  )
}

@controller = {
  <script>
    views.users.index.run(['UserListSvc', function(UserListSvc) {
      UserListSvc.options = {
        page     : @pager.pageNum,
        pageSize : @pager.pageSize,
        sort     : @Html(SortField.toJson(sort)),
        nextPage : '@Html(routes.UsersCtrl.index(pager.next).toString)',
        prevPage : '@Html(routes.UsersCtrl.index(pager.prev).toString)'
      };
    }]);
  </script>
}