@()(implicit request: UserRequest[_])

@main_auth(MSG("user")){

<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    <ul class="list-group">
      <li class="list-group-item">
        <i class="fa fa-envelope-o"></i>@request.user.get.email
      </li>
      <li class="list-group-item">
        @request.user.get.id
      </li>
      <li class="list-group-item">
        @request.user.get.name
      </li>
    </ul>
  </div>

  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




}(js = js)

@js = {
}
