@(user:User, groups:Seq[Group])(
implicit req: UserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@layouts.base(UsersCtrl.msg("title")) {

  <div class="page-header">
    <h1>
      <i class="fa fa-user fa-lg fa-fw"></i>
      @if(user.user_name.self.nonEmpty) {
        @user.user_name
      } else {
        @user.email
      }
    </h1>
  </div>

  <div class="row" ng-controller="InfoCtrl" data-id="@user.id">
    @{_info(user, groups)}
  </div>
}()(
  libs.webjars("js", "angular-resource"),
  libs.assets("js", "api.helper"),
  libs.assets("js", "api_internal/users"),
  jsRoutes,
  controller
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.GroupsCtrl.show
  )
}

@controller = {
  <script>
    angular.module('users.show', ['ui.bootstrap', 'api_internal.user'])
      .controller('InfoCtrl', ['$scope', '$attrs', 'User', function ($scope, $attrs, User) {
        $scope.groups = User.externalGroups({id: $attrs.id});
        $scope.jsRoutes = jsRoutes
      }]);
    angular.module('app').requires.push('users.show');
  </script>
}