@()(implicit req: MaybeUserRequest[_], messages: Messages)

@layouts.base("Welcome to " + MSG("app.name"), above_content = carousel){

  <div class="page-header text-center">
    <h1>Why you'll love @MSG("app.name")<br>
      <small>Powerful features to make software development more collaborative</small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-lg-6 text-center">
      <span class="text-info">
        <i class="fa fa-comments-o fa-4x icon-circle"></i>
      </span>
      <h3>Great collaboration starts with communication.</h3>
      <p>Review changes, comment on lines of code, report issues, and plan the future of your project with discussion tools.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-lg-6 text-center">
      <span class="text-info">
        <i class="fa fa-group fa-4x icon-circle"></i>
      </span>
      <h3>Friction-less development across teams.</h3>
      <p>Work with project collaborators or teams of people in organization accounts to communicate with ease.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-lg-6 text-center">
      <span class="text-info">
        <i class="fa fa-cloud-upload fa-4x icon-circle"></i>
      </span>
      <h3>World’s largest open source community.</h3>
      <p>Share your projects with the world, get feedback, and contribute to millions of repositories hosted on GitHub.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-lg-6 text-center">
      <span class="text-info">
        <i class="fa fa-bolt fa-4x icon-circle"></i>
      </span>
      <h3>Do more with powerful integrations.</h3>
      <p>Discover applications and tools that integrate with GitHub to help you and your team build software better, together.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    </div>
  </div>
}(
  libs.assets("css", "welcome/index")
)(
  libs.webjars("js", "angular-sanitize"),
  libs.webjars("js", "angular-animate"),
  libs.assets("js", "welcome/index"),
  jsRoutes
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.UsersCtrl.nnew,
    routes.javascript.Application.wiki
  )
}

@carousel = {
  <div ng-controller="CarouselCtrl">
    <carousel interval="interval">
      <slide ng-repeat="slide in slides" active="slide.active" class="{{slide.classes}}" ng-bind-html="slide.content">
      </slide>
    </carousel>
  </div>
}