@(path:Path, f: File)(implicit req: UserRequest[_], messages: Messages)

@import common._
@import helper._

@home = @{req.user.id.toString}

@layouts.base(f.name){

  <div class="row">
    @{_breadcrumb(path)}
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>@f.size_pp</p>
    </div>
    @if(f.video.?) {
      <video src="@api.routes.CFSCtrl.stream(home /: path + f.name)"
      type="@f.mimeType"
      class="col-xs-12"
      autobuffer autoloop loop controls>
      </video>
    }
    @if(f.audio.?) {
      <audio src="@api.routes.CFSCtrl.stream(home /: path + f.name)"
      class="col-xs-12"
      autobuffer autoloop loop controls></audio>
    }
    @if(f.image.?) {
      <img src="@api.routes.CFSCtrl.stream(home /: path + f.name)"
      class="col-xs-12 col-sm-8 col-sm-offset-2" alt="">
    }
  </div>

}()()
