@(path:Path, pager:Pager)(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@home = @{req.user.id.toString}

@layouts.base(Files.vmsg("title")) {

  @ng._alert()

  <div class="row">
    @{_breadcrumb(path)}
  </div>

  <div ng-controller="FilesCtrl">
    @ng._msg_confirm_delete()

    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover table-ellipsis">
          <thead>
            <tr>
              <th class="col-xs-5">@MSG("name")</th>
              <th class="col-xs-2 text-right">@MSG("size")</th>
              <th class="col-xs-3 text-right hidden-xs hidden-sm">
                @MSG("created_at")
              </th>
              <th class="col-xs-2 text-right">@MSG("action")</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-cloak" ng-repeat="inode in INodeList.inodes">
              <!-- Directory -->
              <td ng-if="inode.is_directory">
                <i class="fa fa-2x fa-folder fa-fw text-info"></i>
                <a ng-href="{{jsRoutes.controllers.Files.index(path.append(inode.name)).url}}">
                  {{ inode.name }}
                </a>
              </td>
              <td ng-if="inode.is_directory">
              </td>
              <td ng-if="inode.is_directory" class="text-right hidden-xs hidden-sm">
                {{ inode.created_at | date:"yyyy-MM-dd hh:mma" }}
              </td>
              <td ng-if="inode.is_directory">
              </td>

              <!-- File -->
              <td ng-if="!inode.is_directory">
                <i class="fa fa-2x fa-file-o fa-fw"></i>
                <a ng-href="{{jsRoutes.controllers.Files.show(path.set(inode.name)).url}}">
                  {{ inode.name }}
                </a>
              </td>
              <td ng-if="!inode.is_directory" class="text-right">
                {{ inode.size | filesize }}
              </td>
              <td ng-if="!inode.is_directory" class="text-right hidden-xs hidden-sm">
                {{ inode.created_at | date:"yyyy-MM-dd hh:mma" }}
              </td>
              <td ng-if="!inode.is_directory">
                <div class="btn-toolbar pull-right">
                  <div class="btn-group">
                    <a ng-href="{{jsRoutes.controllers.api.Files.download(inode.path).url}}">
                      <i class="fa fa-download fa-lg"></i>
                    </a>
                  </div>
                  <div class="btn-group">
                    <i class="fa fa-trash fa-lg text-danger" ng-click="confirmDelete(inode)"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      @ng._pager("GroupList.links")
    </div>
  </div>

  <div class="row">
    <div flow-init="{target: '@api.routes.Files.create(path)'}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message"
         class="pull-right">

      <span class="btn btn-success" flow-btn>
        <i class="fa fa-upload"></i>
        <strong>Upload new file</strong>
      </span>
    </div>
  </div>

}()(
  libs.webjars("js", "angular-resource"),
  libs.webjars("js", "ng-flow"),
  libs.webjars("js", "xeditable"),
  libs.assets("js", "utility"),
  libs.assets("js", "api"),
  libs.assets("js", "ui.parts"),
  libs.assets("js", "files/index"),
  jsRoutes,
  controller
)

@jsRoutes = {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.Files.index,
    routes.javascript.Files.show,
    api.routes.javascript.Files.download,
    api.routes.javascript.Files.destroy
  )
}

@controller = {
  <script>
    views.files.index.run(['INodeList', function(INodeList) {
      INodeList.reload({
        page     : @pager.pageNum,
        pageSize : @pager.pageSize,
        nextPage : '@Html(routes.Files.index(path,pager.next).toString)',
        prevPage : '@Html(routes.Files.index(path,pager.prev).toString)',
        userId   : '@req.user.id',
        path     : @Html(path.toJson.toString)
      });
    }]);
  </script>
}