@(path:Path, page: Page[INode])(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@layouts.base(Files.vmsg("title")) {

  @common._flashing()

  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      @files._upload(path, "html", "files")
    </div>
  </div>
  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-hdd-o fa-lg"></i>
      @Files.vmsg("head")
    </h2>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-5">@MSG("name")</th>
            <th class="col-xs-2 text-right">@MSG("size")</th>
            <th class="col-xs-3 text-right hidden-xs hidden-sm">
              @MSG("created_at")
            </th>
            <th class="col-xs-2 text-right">@MSG("action")</th>
          </tr>
        </thead>
        <tbody>
          @page.map {
            case d: Directory if d.name == "." => {
            }
            case d: Directory => {
              <tr>
                <td>
                  <i class="fa fa-lg fa-folder-o"></i>
                  <a href="@routes.Files.index(path / d.name)">
                    @d.name
                  </a>
                </td>
              </tr>
            }

            case f: File => {
              <tr>
                <td>
                  <i class="fa fa-lg @f.icon"></i>
                  @if(f.pdf.?) {
                    <a href="@routes.Files.download(path + f.name, true)">
                      @f.name
                    </a>
                  } else {
                    <a href="@routes.Files.show(path + f.name)">
                      @f.name
                    </a>
                  }
                </td>
                <td class="text-right">
                  @f.size_pp
                </td>
                <td class="text-right hidden-xs hidden-sm">
                  @f.created_at.toString(MSG("datetime.format"))
                </td>

                <td>
                  <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                      <a href="@routes.Files.download(path + f.name)">
                        <i class="fa fa-download fa-lg"></i>
                      </a>
                    </div>
                    <div class="btn-group">
                      @form(routes.Files.destroy(f.id), 'class -> "form-inline") {
                        @common._previous_uri()
                        <button type="submit" class="btn form-inline-btn">
                          <i class="fa fa-trash-o fa-lg text-danger"></i>
                        </button>
                      }
                    </div>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>

      @{_pager(page, p => routes.Files.index(path, p))}
    </div>
  </div>
}{
  @{_upload(path, "css")}
}(
  _upload(path, "js")
)