@(path:Path, f: File)(implicit req: UserRequest[_])

@layouts.base(f.name){

  <div class="row">
    <div class="col-xs-12">
      <p>@f.name</p>
      <p>@f.size_pp</p>
    </div>
    @if(f.video.?) {
      <video src="@routes.Files.stream(path + f.name)"
      type="@f.mimeType"
      class="col-xs-12"
      autobuffer autoloop loop controls>
      </video>
    }
    @if(f.audio.?) {
      <audio src="@routes.Files.stream(path + f.name)"
      class="col-xs-12"
      autobuffer autoloop loop controls></audio>
    }
  </div>

}()()
