@()(implicit req: MaybeUserRequest[_], lang: Lang)

@layouts.base(MSG("Start Chat")){

  <div class="row" ng-controller="ChatCtrl">
    <div class="form-group col-xs-12 col-sm-6">
      <label for="">@MSG("Send To")</label>
      <input type="text" class="form-control" required ng-model="message.to">
    </div>

    <div class="form-group col-xs-12 col-sm-6">
      <label for="">@MSG("Text")</label>
      <div class="input-group">
        <input type="text" class="form-control" required ng-model="message.text">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"
            ng-click="send(message)">
            Send
          </button>
        </span>
      </div>
    </div>

    <div class="row" ng-repeat="record in history track by $index">
      <div ng-if="record.to != null" class="col-sm-6">
        <pre class="pull-left">{{ record | json }}</pre>
      </div>
      <div ng-if="record.from != null" class="col-sm-6 col-sm-offset-6">
        <pre class="pull-right">{{ record | json }}</pre>
      </div>
    </div>
  </div>
}()(
  controller
)

@controller = {
  <script>

    var exampleSocket = new WebSocket("@sockets.routes.Chat.connect.webSocketURL()");
    angular.module('chat', [])
    .controller('ChatCtrl', ['$scope', function($scope) {
      $scope.history = [];
      $scope.message = { to : "", text : "" };

      exampleSocket.onmessage = function (event) {
        console.log(event.data);
        $scope.history.push(JSON.parse(event.data));
        $scope.$apply();
      };

      $scope.send = function(msg) {
        exampleSocket.send(JSON.stringify(msg));
        $scope.history.push(angular.copy(msg));
      };
    }]);
    angular.module('app').requires.push('chat');
  </script>
}