@(name: String, args: (Symbol,Any)*)(
implicit lang: Lang)

@argsMap = @{args.toMap}

@inputType = @{argsMap.get('_type).map(_.toString).getOrElse("text")}
@formname  = @{argsMap.get('_formname).map(_.toString).getOrElse("form")}

@htmlArgs = @{
  args.filterNot(arg => arg._1.name.startsWith("_"))
      .filterNot(arg => arg._1 == 'id)
      .toMap
}

@defining( s"$formname.$name" ) { fullname =>
  <div class="form-group" ng-class="@{fullname}.$valid ? '' : 'has-error has-feedback'">

    <input type="@inputType" name="@name" class="form-control" @toHtmlArgs(htmlArgs)>

    <span ng-show="@{fullname}.$invalid" class="form-control-feedback" >
      <i class="fa fa-warning fa-lg ng-cloak" ></i>
    </span>

    @htmlArgs.get('required).map { _ =>
      <span ng-show="@{fullname}.$error.required" class="help-block ng-cloak">
        @MSG("error.required")
      </span>
    }

    @htmlArgs.get('minLength).map { value =>
      <span ng-show="@{fullname}.$error.minlength" class="help-block ng-cloak">
        @MSG("error.minLength", value)
      </span>
    }

    @htmlArgs.get('maxLength).map { value =>
      <span ng-show="@{fullname}.$error.maxlength" class="help-block ng-cloak">
        @MSG("error.maxLength", value)
      </span>
    }

    @htmlArgs.get('email).map { _ =>
      <span ng-show="@{fullname}.$error.email" class="help-block ng-cloak">
        @MSG("error.email")
      </span>
    }

  </div>
}