@()(implicit lang: Lang)

<script type="text/ng-template" id="confirm_delete.html">
  @confirm_delete
</script>

@confirm_delete = {
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">@MSG("msg.confirm_delete.title")</h4>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()" autofocus>
      <i class="fa fa-trash"></i>
      @MSG("delete")
    </button>
    <button class="btn btn-default" ng-click="cancel()">
      @MSG("cancel")
    </button>
  </div>
}