@(title: String)(
  content: Html)(
  css: Html *)(
  js: Html *)(
  implicit req: RequestHeader, messages: Messages, env: Environment)

@welcome.base_tmpl(title){

<div class="row">
  <div class="col-xs-12">
    <div class="center-block">

      <h1 class="text-center">
        <i class="fa fa-github fa-3x"></i>
      </h1>

      @content

      <div class="account-footer text-center">
        <ul class="list-inline">
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
}((css ++ Seq(libs.assets("css", "account/main"))):_*)(js:_*)