@(fm: Form[_])(implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@layouts.base(MSG("sign.in.title")){

  @common._flashing()

  @fm.globalErrors.map { gerr =>
    @common._alert("danger"){
      @MSG(gerr.message)
    }
  }

  @form(action = routes.Sessions.create(), 'class -> "signin-form") {

    <h3 class="signin-form-heading">@MSG("sign.in.head")</h3>

    @{_input_email(fm("email"),
      'placeholder -> MSG("email"),
      'tabindex    -> 1,
      '_icons      -> "fa fa-envelope-o fa-fw"
      )(_fc_input_group)
    }

    @{_input_password(fm("password"),
      'placeholder -> MSG("password"),
      'tabindex    -> 2,
      '_icons      -> "fa fa-key fa-fw"
      )(_fc_input_group)
    }

    @{_checkbox(fm("remember_me"),
      'tabindex -> 4,
      '_text -> MSG("remember.me")
      )(_fc_raw)
    }


    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="3">
      @MSG("sign.in")
    </button>

    <a href="@routes.PasswordReset.nnew()" title="">
      <span class="help-inline">@MSG("user.pwd.forgot")</span>
    </a>
  }

}{
  <style>
    .signin-form {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

    .signin-form .signin-form-heading,
    .signin-form .checkbox {
      margin-bottom: 10px;
    }

    .signin-form .checkbox {
      font-weight: normal;
    }

    .signin-form .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    .signin-form .form-control:focus {
      z-index: 2;
    }
  </style>
}()