@(fm: Form[_], next: Option[String])(
implicit req: MaybeUserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@base_tmpl(MSG("app.name") + " - " + MSG("sign.in.title")){

  <h2 class="text-center">
    @(MSG("sign.in.head") + " " + MSG("app.name"))
  </h2>

  @fm.globalErrors.map { err =>
    @common._alert("danger", dismissible = true){
      @MSG(err.message)
    }
  }

  @form(action = routes.SessionsCtrl.create(next), 'class -> "account-form") {

    @{_input_email(fm("email"),
      'placeholder -> MSG("email"),
      'tabindex    -> 1,
      '_icons      -> "fa fa-envelope-o fa-fw"
      )(_fc_input_group)
    }

    @{_input_password(fm("password"),
      'placeholder -> MSG("password"),
      'tabindex    -> 2,
      '_icons      -> "fa fa-key fa-fw"
      )(_fc_input_group)
    }

    @{_checkbox(fm("remember_me"),
      'tabindex -> 4,
      '_text -> MSG("remember.me")
      )(_fc_raw)
    }

    <button type="submit" class="btn btn-success btn-lg btn-block" tabindex="3">
      @MSG("sign.in")
    </button>

    <a href="@routes.PasswordResetCtrl.nnew()" title="">
      <span class="help-inline">@MSG("user.pwd.forgot")</span>
    </a>
  }
}()()