@(tmpl: EmailTemplate, updated_by:User, created_by:User)(
implicit messages: Messages)

@common._form_group_static("id"){
  @tmpl.id
}

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    @common._form_group_static("updated_by") {
      @updated_by.email
    }
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    @common._form_group_static("updated_at") {
      @DateTimeFormat("datetime.format.long").print(tmpl.updated_at)
    }
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    @common._form_group_static("created_by") {
      @created_by.email
    }
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    @common._form_group_static("created_at") {
      @DateTimeFormat("datetime.format.long").print(tmpl.created_at)
    }
  </div>
</div>