@(fm:Form[_], tmpl:EmailTemplate, updated_by:User, created_by:User)(
implicit req: UserRequest[_])

@import common._
@import helper._
@import java.lang.String; val pkg = EmailTemplates.module_name
@import play.api.Play.current

@layouts.base(MSG(s"$pkg.head")){

  @fm.globalErrors.map { gerr =>
    @common._alert("danger"){
      @MSG(gerr.message)
    }
  }

  <div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#" aria-controls="edit">
          <i class="fa fa-edit fa-lg"></i>
          @MSG(s"$pkg.title")
        </a>
      </li>
      <li role="presentation">
        <a href="@routes.EmailTemplates.history(tmpl.id, tmpl.lang)" aria-controls="history">
          <i class="fa fa-history fa-lg"></i>
          @MSG("history")
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="panel panel-default">
      <div class="panel-body">

        @form(action = routes.EmailTemplates.save(tmpl.id, tmpl.lang)) {

          @{_info(tmpl, updated_by, created_by)}

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              @{_input_text(fm("name"),
                '_label      -> MSG("name"),
                'placeholder -> MSG(s"$pkg.name.place_holder"),
                'tabindex    -> 1
                )(_fc_form_group, req.lang)
              }
            </div>

            <div class="col-xs-12 col-sm-3">
              @{_select(fm("lang"),
                Lang.availables.map(l => (l.code, MSG(s"lang.${l.code}"))),
                'tabindex    -> 2,
                'disabled    -> true
                )(_fc_form_group, req.lang)
              }
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              @{_textarea(fm("text"),
                '_label      -> MSG("text"),
                'placeholder -> MSG(s"$pkg.text.sample"),
                'rows        -> 24,
                'tabindex    -> 3
                )(_fc_form_group, req.lang)
              }
            </div>
          </div>

          <button type="submit" class="btn btn-success" tabindex="4">
            <i class ="fa fa-save fa-lg"></i>
            @MSG("save")
          </button>
        }
      </div>
    </div>

  </div>
}{
<style type="text/css" media="screen">
  .panel {
    border-top: 0px;
  }
</style>
}()