@(id:UUID, lang:Lang, page: Page[EmailTemplateHistory], usrs:Map[UUID,User])(
implicit req: UserRequest[_])

@import common._
@import helper._
@import java.lang.String; val pkg = enclosingName(this)
@import play.api.Play.current

@layouts.base(MSG(s"$pkg.history")){

  <div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href="@routes.EmailTemplates.edit(id, lang)" aria-controls="edit">
          <i class="fa fa-edit fa-lg"></i>
          @MSG(s"$pkg.title")
        </a>
      </li>
      <li role="presentation" class="active">
        <a href="#" aria-controls="history">
          <i class="fa fa-history fa-lg"></i>
          @MSG(s"$pkg.history")
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-ellipsis">
            <thead>
              <tr>
                <th class="col-xs-5 col-sm-4">@MSG("updated_on")</th>
                <th class="col-xs-3 col-sm-3">@MSG(s"$pkg.name")</th>
                <th class="col-xs-3 col-sm-4">@MSG("updated_by")</th>
                <th class="col-xs-1 col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              @page.map { h =>
                <tr>
                  <td>@h.updated_on.toString("yyyy-MM-dd hh:mm:ss")</td>
                  <td>@h.name</td>
                  <td>@usrs.get(h.updated_by).map(_.email).getOrElse("")</td>
                  <td>
                    <a href="@routes.EmailTemplates.show(id, lang, Some(h.updated_on))">
                      <i class="fa fa-arrow-circle-right fa-lg"></i>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          @{_pager(page, p => routes.EmailTemplates.history(id, lang, p))}
        </div>
      </div>
    </div>

  </div>
}{
  <style type="text/css" media="screen">
    .panel {
      border-top: 0px;
    }
  </style>
}(libs.assets("js", "pager"))