@(tmpl: EmailTemplate, page: Page[EmailTemplateHistory], usrs:Map[UUID,User])(
implicit req: UserRequest[_], messages: Messages, env: Environment)

@import common._

@layouts.base(MSG("history")){

  <div class="row page-heading white-bg">
    <h2>
      <i class="fa fa-envelope-o fa-lg fa-fw"></i>
      @EmailTemplatesCtrl.msg("head")
    </h2>
  </div>

  <div class="row wrapper-content">
    <div class="col-xs-12">
      <div class="tabs-container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li role="presentation">
            <a href="@routes.EmailTemplatesCtrl.edit(tmpl.id, tmpl.lang)" aria-controls="edit">
              <i class="fa fa-edit fa-lg"></i>
              @EmailTemplatesCtrl.msg("edit.tab.name")
            </a>
          </li>
          <li role="presentation" class="active">
            <a href="#" aria-controls="history">
              <i class="fa fa-history fa-lg"></i>
              @EmailTemplatesCtrl.msg("history.tab.name")
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- Tab panes -->
          <div class="tab-pane active">
            <div class="panel-body">

              <div class="table-responsive">
                <table class="table table-hover table-ellipsis">
                  <thead>
                    <tr>
                      <th class="col-xs-4 col-sm-4 col-md-2">
                        @MSG("updated_at")
                      </th>
                      <th class="hidden-xs col-sm-3 col-md-3">
                        @MSG("name")
                      </th>
                      <th class="hidden-xs hidden-sm col-md-4">
                        @MSG("subject")
                      </th>
                      <th class="col-xs-4 col-sm-4 col-md-2">
                        @MSG("updated_by")
                      </th>
                      <th class="col-xs-1 col-sm-1 col-md-1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @page.map { h =>
                      <tr>
                        <td>
                          @DateTimeFormat("datetime.format.long").print(h.updated_at)
                        </td>
                        <td class="hidden-xs">
                          @h.name
                        </td>
                        <td class="hidden-xs hidden-sm">
                          @h.subject
                        </td>
                        <td>
                          @usrs.get(h.updated_by).map(_.email).getOrElse("")
                        </td>
                        <td>
                          <a href="@routes.EmailTemplatesCtrl.show(tmpl.id, tmpl.lang, Some(h.updated_at))">
                            <i class="fa fa-arrow-circle-right fa-lg"></i>
                          </a>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
              @{_pager(page, p => routes.EmailTemplatesCtrl.history(tmpl.id, tmpl.lang, p))}

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
}()()