@(page: Page[EmailTemplate])(
implicit req: UserRequest[_], messages: Messages, env: Environment)

@import common._
@import helper._

@layouts.base(EmailTemplatesCtrl.msg("title")) {

  <div class="row page-heading white-bg">
    <h2>
      <i class="fa fa-envelope-o fa-lg fa-fw"></i>
      @EmailTemplatesCtrl.msg("head")
    </h2>
  </div>

  <div class="alert-container">
    @common._flashing()
  </div>

  <div class="row wrapper-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-hover table-ellipsis">
              <thead>
                <tr>
                  <th class="col-xs-5  col-sm-4 ">
                    @MSG("name")
                  </th>
                  <th class="col-xs-3  col-sm-2 ">
                    @MSG("lang")
                  </th>
                  <th class="hidden-xs col-sm-4 ">
                    @MSG("email.subject")
                  </th>
                  <th class="col-xs-4  col-sm-2 text-right">
                    @MSG("action")
                  </th>
                </tr>
              </thead>
              <tbody>
                @page.map { tmpl =>
                  <tr>
                    <td>
                      <a href="@routes.EmailTemplatesCtrl.show(tmpl.id, tmpl.lang)">
                        @tmpl.name
                      </a>
                    </td>
                    <td>
                      @MSG(s"lang.${tmpl.lang.code}")
                    </td>
                    <td class="hidden-xs">
                      @tmpl.subject
                    </td>
                    <td>
                      <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                          <a href="@routes.EmailTemplatesCtrl.edit(tmpl.id, tmpl.lang)">
                            <i class="fa fa-edit fa-lg text-warning"></i>
                          </a>
                        </div>
                        <div class="btn-group">
                          <a href="@routes.EmailTemplatesCtrl.history(tmpl.id, tmpl.lang)">
                            <i class="fa fa-history fa-lg text-info"></i>
                          </a>
                        </div>
                        <div class="btn-group">
                          @form(routes.EmailTemplatesCtrl.destroy(tmpl.id, tmpl.lang), 'class -> "form-inline") {
                            @common._previous_uri()
                            <button type="submit" class="btn form-inline-btn">
                              <i class="fa fa-trash-o fa-lg text-danger"></i>
                            </button>
                          }
                        </div>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @{_pager(page, p => routes.EmailTemplatesCtrl.index(p))}
              </div>
            </div>
          </div>
          <div class="ibox-footer">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="@routes.EmailTemplatesCtrl.nnew()" class="btn btn-primary pull-right">
                  <i class="fa fa-plus"></i>
                  @EmailTemplatesCtrl.msg("new.head")
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

}()()