@(page: Page[EmailTemplate])(
implicit req: UserRequest[_], lang: Lang)

@import common._
@import helper._

@pkg = @{AccessControls.module_name}

@layouts.base(MSG(s"$pkg.title")) {

  @common._flashing()

  <div class="row" style="margin-top:10px">
    <h2 style="margin-left: 20px">
      <i class="fa fa-envelope-o fa-lg"></i>
      @MSG(s"$pkg.title")
      <a href="@routes.EmailTemplates.nnew()" class="btn btn-success pull-right">
        <i class="fa fa-plus"></i>
        @MSG("new")
      </a>
    </h2>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="col-xs-5  col-sm-4 ">
              @MSG("name")
            </th>
            <th class="col-xs-3  col-sm-2 ">
              @MSG("lang")
            </th>
            <th class="hidden-xs col-sm-4 ">
              @MSG("subject")
            </th>
            <th class="col-xs-4  col-sm-2 text-right">
              @MSG("action")
            </th>
          </tr>
        </thead>
        <tbody>
          @page.map { tmpl =>
            <tr>
              <td>
                <a href="@routes.EmailTemplates.show(tmpl.id, tmpl.lang)">
                  @tmpl.name
                </a>
              </td>
              <td>
                @MSG(s"lang.${tmpl.lang.code}")
              </td>
              <td class="hidden-xs">
                @tmpl.subject
              </td>
              <td>
                <div class="btn-toolbar pull-right">
                  <div class="btn-group">
                    <a href="@routes.EmailTemplates.edit(tmpl.id, tmpl.lang)">
                      <i class="fa fa-edit fa-lg text-warning"></i>
                    </a>
                  </div>
                  <div class="btn-group">
                    <a href="@routes.EmailTemplates.history(tmpl.id, tmpl.lang)">
                      <i class="fa fa-history fa-lg text-info"></i>
                    </a>
                  </div>
                  <div class="btn-group">
                    @form(routes.EmailTemplates.destroy(tmpl.id, tmpl.lang), 'class -> "form-inline") {
                      @common._previous_uri()
                      <button type="submit" class="btn form-inline-btn">
                        <i class="fa fa-trash-o fa-lg text-danger"></i>
                      </button>
                    }
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>

      @{_pager(page, p => routes.EmailTemplates.index(p))}
    </div>
  </div>
}()(libs.assets("js", "pager"))