@(fm: Form[_])(
implicit req: UserRequest[_], messages: Messages, langs: Langs)

@import common._
@import helper._

@layouts.base(EmailTemplatesCtrl.msg("new.title")){

  @fm.globalErrors.map { gerr =>
    @common._alert("danger"){
      @MSG(gerr.message)
    }
  }

  <div class="page-header">
    <h1>
      <i class="fa fa-envelope-o fa-lg fa-fw"></i>
      @EmailTemplatesCtrl.msg("head")
      <small>@EmailTemplatesCtrl.msg("new.head")</small>
    </h1>
  </div>

  @form(action = routes.EmailTemplatesCtrl.create()) {

    <div class="row">
      <div class="col-xs-12 col-sm-9">
        @{_input_text(fm("name"),
          '_label      -> MSG("name"),
          'placeholder -> EmailTemplatesCtrl.msg("name.place_holder"),
          'tabindex    -> 1
          )(_fc_form_group)
        }
      </div>

      <div class="col-xs-12 col-sm-3">
        @{_select(fm("lang"),
          langs.availables.map(l => (l.code, MSG(s"lang.${l.code}"))),
          'tabindex    -> 2
          )(_fc_form_group)
        }
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        @{_input_text(fm("subject"),
          '_label      -> MSG("subject"),
          'placeholder -> EmailTemplatesCtrl.msg("subject.place_holder"),
          'tabindex    -> 3
          )(_fc_form_group)
        }
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        @{_textarea(fm("text"),
          '_label      -> MSG("text"),
          'placeholder -> EmailTemplatesCtrl.msg("text.sample"),
          'rows        -> 12,
          'tabindex    -> 4
          )(_fc_form_group)
        }
      </div>
    </div>

    <button type="submit" class="btn btn-success pull-right" tabindex="5">
      <i class="fa fa-save fa-lg"></i>
      @MSG("create")
    </button>
  }
}()()