@(fm: Form[_])(
implicit req: UserRequest[_], messages: Messages, langs: Langs)

@import common._
@import helper._

@layouts.base(EmailTemplatesCtrl.vmsg("title")){

  @fm.globalErrors.map { gerr =>
    @common._alert("danger"){
      @MSG(gerr.message)
    }
  }

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          @EmailTemplatesCtrl.vmsg("head")
        </h3>
      </div>
      <div class="panel-body">
        @form(action = routes.EmailTemplatesCtrl.create()) {

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              @{_input_text(fm("name"),
                '_label      -> MSG("name"),
                'placeholder -> EmailTemplatesCtrl.vmsg("name.place_holder"),
                'tabindex    -> 1
                )(_fc_form_group)
              }
            </div>

            <div class="col-xs-12 col-sm-3">
              @{_select(fm("lang"),
                langs.availables.map(l => (l.code, MSG(s"lang.${l.code}"))),
                'tabindex    -> 2
                )(_fc_form_group)
              }
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              @{_input_text(fm("subject"),
                '_label      -> MSG("subject"),
                'placeholder -> EmailTemplatesCtrl.vmsg("subject.place_holder"),
                'tabindex    -> 3
                )(_fc_form_group)
              }
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              @{_textarea(fm("text"),
                '_label      -> MSG("text"),
                'placeholder -> EmailTemplatesCtrl.vmsg("text.sample"),
                'rows        -> 24,
                'tabindex    -> 4
                )(_fc_form_group)
              }
            </div>
          </div>

          <button type="submit" class="btn btn-success" tabindex="5">
            <i class="fa fa-save fa-lg"></i>
            @MSG("create")
          </button>
        }
      </div>
    </div>
  </div>
}()()