@(tmpl: EmailTemplate, updated_by:User, created_by:User)(
implicit req: UserRequest[_], messages: Messages)

@import common._

@layouts.base(tmpl.name){

  <div class="page-header">
    <h1>
      <i class="fa fa-envelope-o fa-lg fa-fw"></i>
      @EmailTemplatesCtrl.msg("head")
    </h1>
  </div>

  @{_info(tmpl, updated_by, created_by)}

  <div class="row">
    <div class="col-xs-12 col-sm-9">
      @common._form_group_static("name") {
        @tmpl.name
      }
    </div>
    <div class="col-xs-12 col-sm-3">
      @common._form_group_static("lang") {
        @MSG(s"lang.${tmpl.lang.code}")
      }
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      @common._form_group_static("subject") {
        @tmpl.subject
      }
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      @common._form_group_static("text") {
        <pre>@tmpl.text</pre>
      }
    </div>
  </div>

}()()