@(field: Field, options: Seq[(String,String)], args: (Symbol,Any)*)(
fc:helper.FieldConstructor, fcs: helper.FieldConstructor*)(
implicit messages: Messages)

@helper.input(
  field,
  args.filter {
    case ('disabled, _) => false
    case _              => true
  }:_*) { (id, name, value, htmlArgs) =>

  @defining(args.toMap.get('disabled).map {
    case Some(set: Set[_]) => set.collect{case e:String => e}
    case _                      => Set[String]()
  }) { optionsDisabled =>
    @options.map { v =>
      @defining(optionsDisabled.contains(v._1)) { disabled =>
        <div class="radio@if(disabled){ disabled}">
          <label>
            <input type="radio" id="@(id)_@v._1" name="@name" value="@v._1"
              @if(value == Some(v._1)){checked="checked"}
              @if(disabled){disabled}
              @toHtmlArgs(htmlArgs)>
            @v._2
          </label>
        </div>
      }
    }
  }
}(ChainedFieldConstructor(fc, fcs:_*), messages)