@(white_navbar: Boolean = false)(implicit messages: Messages)

@import helper._

<div class="row border-bottom">
  <nav class="navbar navbar-static-top @if(white_navbar){white-bg}" role="navigation">
    <div class="navbar-header">
      <span minimaliza-sidebar></span>
    </div>
    <ul class="nav navbar-top-links pull-right">
      <li>
        <a href="@routes.MyCtrl.dashboard">
          <div class="profile-img-xs">
            <img ng-src="@routes.MyCtrl.profileImage(s = 24)" err-src="http://google.com/favicon.ico">
          </div>
        </a>
      </li>
      <li>
        @form(routes.SessionsCtrl.destroy, 'class -> "navbar-form") {
          <button type="submit" class="btn form-inline-btn">
            <i class="fa fa-sign-out fa-lg"></i>
            <span class="hidden-xs">@MSG("sign.out")</span>
          </button>
        }
      </li>
    </ul>
  </nav>
</div>