@(title: String, white_navbar: Boolean = false)(
  content: Html)(
  css: Html *)(
  js: Html *)(
  implicit req: MaybeUserRequest[_], messages: Messages, env: Environment)

@layoutsOpt = @{req.maybeUser.toOption.flatMap(_.attributes[List[String]]("layouts"))}
@baseAdmin  = @{base_admin.getClass.getCanonicalName}

@layoutsOpt match {
  case Some(layouts) => {
    @if(layouts.contains(baseAdmin)) {
      @base_admin(title, white_navbar)(content)(css:_*)(js:_*)
    } else {
      @base_normal(title, white_navbar)(content)(css:_*)(js:_*)
    }
  }
  case None => {
    @base_normal(title, white_navbar)(content)(css:_*)(js:_*)
  }
}