@(title: String, above_content: Html = Html(""))(
  content: Html)(
  css: Html *)(
  js: Html *)(
  implicit req: MaybeUserRequest[_], messages: Messages)

@req.maybeUser match {
  case Some(u) => {
    @defining( Layouts(u.groups) ) { layouts => @{
      if(layouts.contains(base_admin.getClass.getCanonicalName)) {
        base_admin(title, above_content)(content)(css:_*)(js:_*)
      } else {
        base_normal(title, above_content)(content)(css:_*)(js:_*)
      }
    }}
  }
  case _ => {
    @base_normal(title, above_content)(content)(css:_*)(js:_*)
  }
}