@(title: String, above_content: Html = Html(""))(
  content: Html)(
  css: Html *)(
  js: Html *)(
  implicit req: MaybeUserRequest[_], messages: Messages, env: Environment)

@base_tmpl(title, above_content, main_menu)(content)(css:_*)(js:_*)

@main_menu = {
  @req.maybeUser.toOption.map { u =>
    <li class="dropdown" dropdown>
      <a href="@routes.FileSystemCtrl.index(Path.root)">
        <i class="fa fa-fw fa-hdd-o"></i>
        @MSG(FileSystemCtrl.message("name"))
      </a>
    </li>
  }
}