@(title: String, above_content: Html = Html(""))(
  content: Html)(
  css: Html *)(
  js: Html *)(
  implicit req: MaybeUserRequest[_], messages: Messages)

@import helper._

@base_tmpl(title, above_content, main_menu)(content)(css ++ Seq(ext_css):_*)(js:_*)

@ext_css = {
  <style type="text/css" media="screen">
    .navbar-brand {
      color: #a94442 !important;
      font-size: 24px;
    }
  </style>
}

@main_menu = {
  <li class="dropdown" dropdown>
    <a href="#" class="dropdown-toggle" dropdown-toggle>
      @MSG("modules") <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="@routes.FileSystemCtrl.index(Path())">
          <i class="fa fa-fw fa-hdd-o"></i>
          @MSG(FileSystemCtrl.message("name"))
        </a>
      </li>
      <li>
        <a href="@routes.EmailTemplatesCtrl.index()">
          <i class="fa fa-fw fa-envelope-square"></i>
          @MSG(EmailTemplatesCtrl.message("name"))
        </a>
      </li>
      <li>
        <a href="@routes.AccessControlsCtrl.index()">
          <i class="fa fa-fw fa-shield"></i>
          @MSG(AccessControlsCtrl.message("name"))
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="@routes.GroupsCtrl.index()">
          <i class="fa fa-fw fa-group"></i>
          @MSG(GroupsCtrl.message("name"))
        </a>
      </li>
      <li>
        <a href="@routes.UsersCtrl.index()">
          <i class="fa fa-fw fa-user"></i>
          @MSG(UsersCtrl.message("name"))
        </a>
      </li>
    </ul>
  </li>
}