@(title: String, above_content: Html = Html(""), white_navbar: Boolean = false)(
  content: Html)(
  css: Html *)(
  js: Html *)(
  implicit req: MaybeUserRequest[_], messages: Messages, env: Environment)

@import helper._

@base_tmpl(title, above_content, main_menu, white_navbar)(content)(css ++ Seq(ext_css):_*)(js:_*)

@ext_css = {
  <style type="text/css" media="screen">
    .navbar-brand {
      color: #a94442 !important;
      font-size: 24px;
    }
  </style>
}

@main_menu = {
  <li>
    <a href="@routes.FileSystemCtrl.index(Path.root)">
      <i class="fa fa-fw fa-database"></i>
      <span class="nav-label">@MSG(FileSystemCtrl.message("name"))</span>
    </a>
  </li>
  <li>
    <a href="@routes.EmailTemplatesCtrl.index()">
      <i class="fa fa-fw fa-envelope"></i>
      <span class="nav-label">@MSG(EmailTemplatesCtrl.message("name"))</span>
    </a>
  </li>
  <li>
    <a href="@routes.AccessControlsCtrl.index()">
      <i class="fa fa-fw fa-shield"></i>
      <span class="nav-label">@MSG(AccessControlsCtrl.message("name"))</span>
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="@routes.GroupsCtrl.index()">
      <i class="fa fa-fw fa-group"></i>
      <span class="nav-label">@MSG(GroupsCtrl.message("name"))</span>
    </a>
  </li>
  <li>
    <a href="@routes.UsersCtrl.index()">
      <i class="fa fa-fw fa-user"></i>
      <span class="nav-label">@MSG(UsersCtrl.message("name"))</span>
    </a>
  </li>
}